*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(56, 56, 163);
}
.main-character{ 
    height: 100%;}
h1 {
    font-family: 'Ibarra Real Nova', serif;
}
p {
    font-family: 'Ibarra Real Nova', serif;
}